<div class="container">
    <section id="projects">
        <h2>Proyectos</h2>

        <article class="contain-project">
            <div class="project">
                <a href="#" target="_blank"><img src="../../../assets/img/proyecto1.jpg" alt="proyecto1">
                </a>
                <div class="descripcion-proyecto">
                    <h3>Proyecto 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem pariatur, ab vel, doloribus magni culpa illo fugit cupiditate alias error et quam? Neque voluptatem, debitis, adipisci illo expedita maiores, iste laboriosam aliquid minima officia perspiciatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore asperiores ut voluptate ipsum tenetur at dolor quos pariatur placeat cum alias corporis vitae harum soluta, hic quod doloribus quam fuga debitis aspernatur voluptates maiores quas ipsam.
                    </p>
                </div>
            </div>
            <div class="project">
                <a href="#" target="_blank"><img src="../../../assets/img/proyecto2.jpg" alt="proyecto2">
                </a>
                <div class="descripcion-proyecto">
                    <h3>Proyecto 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem pariatur, ab vel, doloribus magni culpa illo fugit cupiditate alias error et quam? Neque voluptatem, debitis, adipisci illo expedita maiores, iste laboriosam aliquid minima officia perspiciatis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore asperiores ut voluptate ipsum tenetur at dolor quos pariatur placeat cum alias corporis vitae harum soluta, hic quod doloribus quam fuga debitis aspernatur voluptates maiores quas ipsam. Modi maiores minima illum.Lorem ipsum dolor sit amet, consectetur piscing elit.
                    </p>
                </div>
            </div>
        </article>
    </section>
</div>