/* PROYECTOS */

#projects h2 {
    margin-bottom: 2rem;
}

.project {
    padding-bottom: 3rem;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project img {
    width: 30rem;
}

.descripcion-proyecto {
    margin-left: 2rem;
    padding-left: 3rem;
    text-align: justify;
}

.descripcion-proyecto h3,
.descripcion-proyecto h4 {
    margin-bottom: 1rem;
}

#projects {
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    /* PROYECTOS */

    #projects h2 {
        margin-bottom: 2rem;
    }

    .project {
        padding-bottom: 3rem;
    }

    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project img {
        width: 25rem;
    }

    .descripcion-proyecto {
        margin-left: 1rem;
        padding-left: 2rem;
        text-align: justify;
    }

    .descripcion-proyecto h3,
    .descripcion-proyecto h4 {
        margin-bottom: 1rem;
    }

    #projects {
        padding-bottom: 3rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    
    #projects h2 {
        margin-bottom: 2rem;
    }

    .project {
        padding-bottom: 3rem;
    }

    .project {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project img {
        width: 20rem;
    }

    .descripcion-proyecto {
        margin-left: 1rem;
        padding-left: 2rem;
        text-align: justify;
    }

    .descripcion-proyecto h3,
    .descripcion-proyecto h4 {
        margin-bottom: 1rem;
    }

    #projects {
        padding-bottom: 3rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 412px) {
    h2, h3, h4 {
        text-align: center;
    }

    h3 {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    
    #projects h2 {
        margin-bottom: 2rem;
    }

    .project {
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }

    .project img {
        width: 100%;
        padding-bottom: 1rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descripcion-proyecto {
        margin-left: 0;
        padding-left: 0;
        text-align: justify;
    }

    .descripcion-proyecto h3,
    .descripcion-proyecto h4 {
        margin-bottom: 1rem;
    }

    #projects {
        padding-bottom: 0;
        margin-bottom: 1rem;
    }
}