<div class="container">
    <section id="educacion-formal">
        <h2>Educación Formal</h2>
        <article class="contain-estudios">
            <div class="estudios">
                <img src="../../../assets/img/work4.jpg" alt="Institución 1">
                <div class="descripcion-estudios">
                    <h3>Carrera Uno</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequuntur dolor minima
                        laboriosam reprehenderit, libero corrupti nam quisquam alias corporis officiis blanditiis
                        impedit atque qui facere magnam aspernatur esse nihil ratione temporibus magni animi in quaerat
                        hic? Unde quas explicabo modi eius soluta necessitatibus laudantium eum quos. Veniam, quibusdam
                        provident?Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    </p>
                </div>
            </div>
            <div class="estudios">
                <img src="../../../assets/img/work4.jpg" alt="Institución 2">
                <div class="descripcion-estudios">
                    <h3>Carrera Dos</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequuntur dolor minima
                        laboriosam reprehenderit, libero corrupti nam quisquam alias corporis officiis blanditiis
                        impedit atque qui facere magnam aspernatur esse nihil ratione temporibus magni animi in quaerat
                        hic? Unde quas explicabo modi eius soluta necessitatibus laudantium eum quos. Veniam, quibusdam
                        provident?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="estudios">
                <img src="../../../assets/img/work4.jpg" alt="Institución 3">
                <div class="descripcion-estudios">
                    <h3>Carrera Tres</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequuntur dolor minima
                        laboriosam reprehenderit, libero corrupti nam quisquam alias corporis officiis blanditiis
                        impedit atque qui facere magnam aspernatur esse nihil ratione temporibus magni animi in quaerat
                        hic? Unde quas explicabo modi eius soluta necessitatibus laudantium eum quos. Veniam, quibusdam
                        provident?Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    </p>
                </div>
            </div>
        </article>
    </section>
</div>