<section class="header">
    <div class="logo-arpro">
        <img src="../../../assets/img/logo-arpro.png" alt="logo-AP">
    </div>

    <div class="links">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="#">
            <i class="fab fa-discord"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fab fa-github"></i>
        </a>
        <a class="login" href="#">Login</a>
        
    </div>
</section>

<section id="banner">
    <article id="welcome">
        <h2>Welcome</h2>
        <h4>to</h4>
        <h3>My Portfolio</h3>
    </article>
</section>