<div class="container">
    <section id="experiencia-laboral">
        <h2>Experiencia Laboral</h2>
        <article class="contain-experiencias">
            <div class="experiencia">
                <img src="../../../assets/img/work1.jpg" alt="Laburo 1">
                <div class="descripcion-experiencia">
                    <h3>Experiencia Uno (puesto)</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga quae quia, minus molestiae recusandae quas tempore perferendis inventore ea, atque non facere earum fugit ad excepturi sint consectetur blanditiis! Lorem ipsum dolor sit amet consectetur, adipisicing elit.Voluptatum, non fugiat iure earum ipsa libero doloribus sed officiis accusamus nam!Lorem ipsum dolor sit amet, consectetur piscing elit.
                    </p>
                </div>
            </div>
            <div class="experiencia">
                <img src="../../../assets/img/work2.jpg" alt="Laburo 2">
                <div class="descripcion-experiencia">
                    <h3>Experiencia Dos (puesto)</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga quae quia, minus molestiae recusandae quas tempore perferendis inventore ea, atque non facere earum fugit ad excepturi sint consectetur blanditiis! Lorem ipsum dolor sit amet consectetur, adipisicing elit.Voluptatum, non fugiat iure earum ipsa libero doloribus sed officiis accusamus nam!Lorem ipsum dolor sit amet, consectetur piscing elit.
                    </p>
                </div>
            </div>
            <div class="experiencia">
                <img src="../../../assets/img/work3.jpg" alt="Laburo 3">
                <div class="descripcion-experiencia">
                    <h3>Experiencia Tres (puesto)</h3>
                    <h4>Periodo (Mes/Año a Mes/Año)</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fuga quae quia, minus molestiae recusandae quas tempore perferendis inventore ea, atque non facere earum fugit ad excepturi sint consectetur blanditiis! Lorem ipsum dolor sit amet consectetur, adipisicing elit.Voluptatum, non fugiat iure earum ipsa libero doloribus sed officiis accusamus nam!Lorem ipsum dolor sit amet, consectetur piscing elit.
                    </p>
                </div>
            </div>
        </article>
    </section>
</div>