<div class="container">

    <section id="skills">
        <h2>Hard & Soft Skills</h2>
            <div class="skills-list">
                <div>                
                    <circle-progress                    
                        [percent]="90"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/html.png'"
                        [imageWidth]="75"
                        [imageHeight]="75"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>   
                <div>                
                    <circle-progress                    
                        [percent]="85"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/css.png'"
                        [imageWidth]="60"
                        [imageHeight]="75"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>
                <div>                
                    <circle-progress                    
                        [percent]="70"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/js.png'"
                        [imageWidth]="60"
                        [imageHeight]="65"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>
                <div>                
                    <circle-progress                    
                        [percent]="65"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/angular.png'"
                        [imageWidth]="70"
                        [imageHeight]="70"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>
                <div>                
                    <circle-progress                    
                        [percent]="90"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/bootstrap.png'"
                        [imageWidth]="70"
                        [imageHeight]="70"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>
                <div>                
                    <circle-progress                    
                        [percent]="100"
                        [radius]="80"
                        [showTitle]="false"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [showImage]="true"
                        [imageSrc]="'../assets/img/team.png'"
                        [imageWidth]="90"
                        [imageHeight]="70"                                    
                        [outerStrokeGradient]="true"
                        [outerStrokeGradientStopColor]="'#53a9ff'"
                        [outerStrokeWidth]="12"
                        [innerStrokeWidth]="5"
                        [space]="7"
                        [outerStrokeColor]="'#001299'"
                        [innerStrokeColor]="'#e7e8ea'"
                        [animation]="true"
                        [animationDuration]="600"
                    ></circle-progress>  
                </div>     
            </div>
    </section>
</div>