<div class="container">
    <section id="contain-acerca-de-mi">
        <article class="datos-personales">
            <img src="../../../assets/img/perfil-ini.jpg" alt="Mi Foto">
            <h3>Nombre Completo</h3>
            <h4>Full Stack Developer Jr.</h4>
        </article>
        <article class="resumen-sobre-mi">
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, cum dicta quos quas quis perferendis? Accusantium consequuntur repudiandae quisquam vel? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae possimus expedita exercitationem sint officiis similique maiores ex vel non pariatur sequi repellat, quasi aut ea inventore, temporibus asperiores velit iure? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quasi, consequuntur doloribus similique praesentium nostrum.
            </p>
        </article>
    </section>
</div>