/* estilos generales */

.container {
    width: 90%;
}


* {
    font-family: 'Calibri', sans-serif;
    font-size: small;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Bruno Ace SC', 'Cinzel', 'Alkatra', cursive, serif;
    font-size: 23px;
    color: #0b1736;
}

h3 {
    font-family: 'Bruno Ace SC', 'Cinzel', 'Alkatra', cursive, serif;
    font-size: 20px;
    color: #0b1736;
}

h4 {
    font-family: 'Bruno Ace SC', 'Cinzel', 'Alkatra', cursive, serif;
    font-size: 17px;
    color: #ff7b00;
}

p {
    font-size: 14px;
    color: #212121;
}